[MASTER]
extension-pkg-whitelist = _sane
load-plugins = pylint.extensions.check_elif

[MESSAGES CONTROL]
disable =
    fixme,
    global-statement,
    invalid-name,
    no-else-continue,
    no-else-raise,
    no-else-return,
    no-self-use,
    too-few-public-methods,
    too-many-arguments,
    too-many-locals,
    use-dict-literal,

[BASIC]
no-docstring-rgx = .*

[REPORTS]
reports = no
score = no
msg-template = {path}:{line}: {C}: {symbol} [{obj}] {msg}

[FORMAT]
max-line-length = 120
expected-line-ending-format = LF

# vim:ft=dosini ts=4 sts=4 sw=4 et
